<div class='text-center'>
  <h1>Simple Sign Up</h1>
</div> <hr>
<div class="row">

  <div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <p>Welcome to Simple Sign Up, where you   can keep track of your  events, tasks, and workers in an easy and  organized way.</p>
    
    <p>After you sign in, you'll be able to  see all current events   and statistics. </p>
  </div>
  <div class="col-md-3"></div>
</div>
 

  


